NodeRED flow.txt
[{"id":"8ac5c5f4.566a88","type":"mqtt in","z":"888e3ef9.11e66","name":"","topic":"tele/FrontDoorBell","qos":"2","broker":"ce93ed0a.5ed4c","x":167.01734924316406,"y":1360.12158203125,"wires":[["b4de374e.a08878"]]},{"id":"b4de374e.a08878","type":"function","z":"888e3ef9.11e66","name":"DoorBell","func":"msg.payload=\"Somebody rings the doorbell, please check front door\";\n\nreturn msg;\n","outputs":"1","noerr":0,"x":387.0173873901367,"y":1369.2327213287354,"wires":[["23369ba.5556564","3eecf286.810bce","c440f432.3cb448","bd2c686d.87d348"]]},{"id":"810d4e5d.25961","type":"chromecast-play","z":"888e3ef9.11e66","name":"","url":"","contentType":"","ip":"","x":792.017333984375,"y":1302.12158203125,"wires":[[]]},{"id":"23369ba.5556564","type":"function","z":"888e3ef9.11e66","name":"Kitchen","func":"var txt=msg.payload;\nmsg.payload = {\n    ip: '192.168.10.161',\n    url: 'http://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&client=tw-ob&q='+txt+'&tl=En-us',\n    contentType: 'audio/mp3'\n}\nreturn msg;","outputs":1,"noerr":0,"x":630.7315635681152,"y":1299.2644538879395,"wires":[["810d4e5d.25961"]]},{"id":"3eecf286.810bce","type":"function","z":"888e3ef9.11e66","name":"Basement","func":"var txt=msg.payload;\nmsg.payload = {\n    ip: '192.168.10.162',\n    url: 'http://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&client=tw-ob&q='+txt+'&tl=En-us',\n    contentType: 'audio/mp3'\n}\nreturn msg;","outputs":1,"noerr":0,"x":644.0822639465332,"y":1336.132004737854,"wires":[["1c613c3e.851ef4"]]},{"id":"1c613c3e.851ef4","type":"chromecast-play","z":"888e3ef9.11e66","name":"","url":"","contentType":"","ip":"","x":805.368034362793,"y":1338.9891328811646,"wires":[[]]},{"id":"c440f432.3cb448","type":"function","z":"888e3ef9.11e66","name":"Bedroom2","func":"var txt=msg.payload;\nmsg.payload = {\n    ip: '192.168.1.163',\n    url: 'http://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&client=tw-ob&q='+txt+'&tl=En-us',\n    contentType: 'audio/mp3'\n}\nreturn msg;","outputs":1,"noerr":0,"x":662.0822334289551,"y":1373.1320142745972,"wires":[["b26f162f.a4bd38"]]},{"id":"b26f162f.a4bd38","type":"chromecast-play","z":"888e3ef9.11e66","name":"","url":"","contentType":"","ip":"","x":813.3680038452148,"y":1375.9891424179077,"wires":[[]]},{"id":"bd2c686d.87d348","type":"function","z":"888e3ef9.11e66","name":"MBR","func":"var txt=msg.payload;\nmsg.payload = {\n    ip: '192.168.1.164',\n    url: 'http://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&client=tw-ob&q='+txt+'&tl=En-us',\n    contentType: 'audio/mp3'\n}\nreturn msg;","outputs":1,"noerr":0,"x":652.0821723937988,"y":1412.1320352554321,"wires":[["b7c6c0c.a38464"]]},{"id":"b7c6c0c.a38464","type":"chromecast-play","z":"888e3ef9.11e66","name":"","url":"","contentType":"","ip":"","x":824.368049621582,"y":1412.9891195297241,"wires":[[]]},{"id":"ce93ed0a.5ed4c","type":"mqtt-broker","z":"","broker":"192.168.1.30","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"armtronix_mqtt","birthQos":"0","birthPayload":""}]
